// =========== 公用 =========== //
$color-data: (lightBlue: #23b8ff, grassGreen: #2bbb61, red: #dd0000, orange: #ff7200, gray: #c9c9c9);
$color-data-set: (lightBlue: #23b8ff #dbf1ff #2797ed, grassGreen: #2bbb61 #e2fbde #27aa59, red: #f85959 #ffeded #dd0000, orange: #ff9d00 #fdf2e1 #ff7200);
$default-color: #23b8ff #40c1ff;
$theme_color: #23b8ff;
$nav-bgc: #def5ff;

$box-padding: 20px;
$box-margin: 20px;
$box-radiu: 5px;
$box-item-margin: 20px;
$button-radiu: 5px;
$index-box-shadow: 3px 3px 8px #ccc;

$tabs-height: 43px;